{% extends '../base.html' %} {%block content%}

<div class="mt-5">
	{% if not edit %}
	<h1 class="display-4">{{heading}}</h1>
	<hr />
	<p class="lead my-4">{{text}}</p>
	<a class="btn btn-primary btn-lg mt-4" href="edit/" role="button">Edit</a>

	{% else %}
	<div>
		<form action="/diary/{{id}}/edit/" method="post">
			{% csrf_token %} {{ form }}
			<input class="btn btn-primary" type="Submit" />
			<a class="btn btn-secondary" href="/diary/{{id}}/">Cancel</a>
		</form>
	</div>
	{% endif %} {% endblock %}


</div>