{% extends '../base.html' %} {%block content%}

<div class="mt-4">

	<div class="d-flex flex-sm-row flex-column-reverse">
		<div class="mr-sm-5" style="width: 100%">
			<h1 class="mb-5 text-center">Your Diaries</h1>
			{% for diary_page in diary_pages %}
			<div class="card my-4">
				<h5 class="card-header d-flex justify-content-between align-items-center">
					<div>
						<a class="ml-auto" href="{{diary_page.id}}">{{diary_page.heading}}</a>
					</div>
					<div>
						<span class="mr-sm-auto">{{ diary_page.date }}</span>
					</div>
					<div>
						<div onclick="delete_page({{diary_page.id}}, '{{csrf_token}}');" class="close" type="button"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</div>
					</div>
				</h5>
				<div class="card-body">
					<p class="card-text text-limit">{{ diary_page.text }}</p>
				</div>
			</div>
			{% endfor %}
		</div>



		<div class="ml-sm-5" style="width: 100%">
			<h1 class="mb-5 text-center">Add New</h1>
			<form class="d-flex flex-column justify-content-center align-items-center " action="/diary/" method="post">
				{% csrf_token %} {{ form }}
				<input class="w-50" type="submit" />
			</form>
		</div>
	</div>
</div>
{% endblock %}